<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="job_test.orange.mapper.LoanRecordCMapper">
  
  <resultMap id="BaseResultMap" type="job_test.orange.domain.LoanRecord" extends="job_test.orange.mapper.LoanRecordMapper">
  </resultMap>
  
  <select id="getLoanRecordByLoanId" resultMap="BaseResultMap">
  	select
  	  *
  	from
  	  loan_record
  	where
  	  loan_id = #{loanId}
  </select>
  
</mapper>