<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="job_test.orange.mapper.RecoverRecordMapper">
  <resultMap id="BaseResultMap" type="job_test.orange.domain.RecoverRecord">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="loan_id" jdbcType="VARCHAR" property="loanId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="repeat_time" jdbcType="BIGINT" property="repeatTime" />
    <result column="recover_uid" jdbcType="INTEGER" property="recoverUid" />
    <result column="recover_nickname" jdbcType="VARCHAR" property="recoverNickname" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
  </resultMap>
  <insert id="insert" parameterType="job_test.orange.domain.RecoverRecord">
    insert into recover_record (id, loan_id, status, 
      content, create_time, repeat_time, 
      recover_uid, recover_nickname, is_delete
      )
    values (#{id,jdbcType=BIGINT}, #{loanId,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, 
      #{content,jdbcType=VARCHAR}, #{createTime,jdbcType=BIGINT}, #{repeatTime,jdbcType=BIGINT}, 
      #{recoverUid,jdbcType=INTEGER}, #{recoverNickname,jdbcType=VARCHAR}, #{isDelete,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="job_test.orange.domain.RecoverRecord">
    insert into recover_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="loanId != null">
        loan_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="repeatTime != null">
        repeat_time,
      </if>
      <if test="recoverUid != null">
        recover_uid,
      </if>
      <if test="recoverNickname != null">
        recover_nickname,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="loanId != null">
        #{loanId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="repeatTime != null">
        #{repeatTime,jdbcType=BIGINT},
      </if>
      <if test="recoverUid != null">
        #{recoverUid,jdbcType=INTEGER},
      </if>
      <if test="recoverNickname != null">
        #{recoverNickname,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
</mapper>